In [ ]:
# 1
SELECT * FROM students WHERE age > 18;

#2

SELECT * FROM students 
	 WHERE name like "%Smith" AND average_score > 7;

#3

SELECT COUNT(*)
    FROM students WHERE average_score > 8;